body{
	background-image: url(img/30.jpg);
	background-size: 135%;
	backdrop-filter: blur(2px);
}

.b{
	margin-top: 200px;
}

.Email{
	text-align: center;
	margin-left: 300px;
	margin-top: 30px;
	margin-right:300px;
}	
.s:hover{
	background-color: #45e927;
}
nav{
	text-align: right;
}
/*.i:hover{
	color: #ffffa3;
}*/