body{
	background-color: lightblue;

}
.o{
	text-align: center;
	background-color: lightgreen;
}
.j{
	display: block;
	padding-left: 21%;
  	padding-right: auto;
  	width: 50%;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	
}
.container{
	background-color: white;
	box-shadow: 10px 10px;
}
.flex{
	display: flex;
}
.pic{
	width: 297px;
	height: 164px;
	border: solid;
	border-color: white
}
.names{
	display: inline-block;
	width: 295px;
	font-weight:bold;
	font-size: 25px;
	background-color: yellow;
}